<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="net.yrom.screenrecorder">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name="net.yrom.screenrecorder.ui.CameraRecordActivity"
            android:configChanges="screenLayout|screenSize|keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>